.container {
    border: 1px solid black;
    padding: 20px;
    width: 500px;
}

.us-flex-group {
    display: flex;
    gap: 10px;
}

.input {
    width: 100%;
    padding: 5px;
}

.btn {
    padding: 5px 15px;
    background-color: #ffffff;
    border: 1px solid rgb(0, 0, 0);
}

.success {
    margin-top: 15px;
    border: 1px solid green;
    padding: 10px;
}

.error {
    margin-top: 15px;
    border: 1px solid red;
    padding: 10px;
    color: red;
}